<div class="login-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <h2>Log In</h2>
      <mat-form-field class="example-full-width">
        <label>
          <input matInput placeholder="Username" formControlName="username"
                 [errorStateMatcher]="matcher">
        </label>
        <mat-error>
          <span *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched">Digite seu Login</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <label>
          <input type="password" matInput placeholder="Password" formControlName="password"
                 [errorStateMatcher]="matcher">
        </label>
        <mat-error>
          <span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">Entre com a Senha</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary"><mat-icon>login</mat-icon> Login</button>
      </div>
      <div class="button-row">
        <h4>Não tem um usuário cadastrado?</h4>
      </div>
      <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/register']"><mat-icon>how_to_reg</mat-icon> Cadastrar</a>
      </div>
    </form>
  </mat-card>
</div>